<!DOCTYPE html>

<html lang="en" class="default-style layout-collapsed layout-navbar-fixed">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<title>Page 1 - HTML Starter</title>

	<!-- Main font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

	<!-- Icons. Uncomment required icon fonts -->
	<link rel="stylesheet" href="/assets/vendor/fonts/fontawesome.css">
	<link rel="stylesheet" href="/assets/vendor/fonts/ionicons.css">
	<link rel="stylesheet" href="/assets/vendor/fonts/linearicons.css">
	<link rel="stylesheet" href="/assets/vendor/fonts/open-iconic.css">
	<link rel="stylesheet" href="/assets/vendor/fonts/pe-icon-7-stroke.css">

	<!-- Core stylesheets -->
	<link rel="stylesheet" href="/assets/vendor/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/vendor/css/appwork.css">
	<link rel="stylesheet" href="/assets/vendor/css/theme-paper.css">
	<link rel="stylesheet" href="/assets/vendor/css/colors.css">
	<link rel="stylesheet" href="/assets/vendor/css/uikit.css">

	<!-- Layout helpers -->
	<script src="/assets/vendor/js/layout-helpers.js"></script>

	<!-- PACE.js loader -->
	<script src="/assets/vendor/js/pace.js"></script>

	<!-- Libs -->

	<!-- `perfect-scrollbar` library required by SideNav plugin -->
	<link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">


	<!--  JSON editor css -->
	<link href="/bower_components/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="/assets/vendor/libs/datatables/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
	{% block css %}
	{% endblock %}
	{% block custom %}
	{% endblock %}
	<!--  Scripts -->

	<!-- AM charts -->
	<script src="/assets/vendor/libs/amchart/amcharts.js"></script>
	<script src="/assets/vendor/libs/amchart/serial.js"></script>
	<script src="/assets/vendor/libs/amchart/pie.js"></script>
	<script src="/assets/vendor/libs/amchart/plugins/animate/animate.min.js"></script>
	<script src="/assets/vendor/libs/amchart/themes/light.js"></script>
	<script src="/assets/vendor/libs/amchart/themes/black.js"></script>
	<script src="/assets/vendor/libs/amchart/themes/dark.js"></script>
	<script src="/assets/vendor/libs/amchart/themes/chalk.js"></script>


	<!-- JSON editor -->
	<script src="/bower_components/jsoneditor/dist/jsoneditor.min.js"></script>

	<!-- Socket.io -->
	<script src="/assets/vendor/js/pace.js"></script>

</head>

<body>

	<!-- PACE.js loader -->
	<div class="page-loader">
		<div class="bg-primary"></div>
	</div>

	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-1">
		<!-- Layout inner -->
		<div class="layout-inner">

			<!-- Layout navbar -->
			<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-navbar-theme container-p-x" id="layout-navbar">
				<a href="index.html" class="navbar-brand">HTML Starter</a>

				<!-- Sidenav toggle -->
				<div class="layout-sidenav-toggle navbar-nav align-items-lg-center mr-auto mr-lg-4">
					<a class="nav-item nav-link px-0 ml-2" href="javascript:void(0)">
						<i class="ion ion-md-menu text-large align-middle"></i>
					</a>
				</div>

				<!-- Navbar toggle -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse collapse" id="layout-navbar-collapse">
					<div class="navbar-nav align-items-lg-center">
						<div class="nav-item"><a class="nav-link" href="#">Link 1</a></div>
						<div class="nav-item"><a class="nav-link" href="#">Link 2</a></div>
					</div>
				</div>
			</nav>
			<!-- / Layout navbar -->

			<div class="layout-container">

				<!-- Layout sidenav -->
				<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">
					<ul class="sidenav-inner py-1">
						<li class="sidenav-item active">
							<a href="index.html" class="sidenav-link"><i class="sidenav-icon ion ion-ios-contact"></i>
								<div>Page 1</div>
							</a>
						</li>
						<li class="sidenav-item">
							<a href="page-2.html" class="sidenav-link"><i class="sidenav-icon ion ion-md-desktop"></i>
								<div>Page 2</div>
							</a>
						</li>
					</ul>
				</div>
				<!-- / Layout sidenav -->

				<div class="layout-content">

					<!-- Page content -->
					<div class="container-fluid flex-grow-1 container-p-y">
						<h4 class="font-weight-bold py-3 mb-4">Page 1</h4>
						<p>Page content.</p>
						<p><button class="btn btn-primary btn-lg">Button</button></p>
					</div>
					<!-- / Page content -->

					<!-- Layout footer -->
					<nav class="layout-footer footer bg-white">
						<div class="container-fluid container-p-x pb-3">
							<a href="#" class="footer-link pt-3">Link 1</a>
							<a href="#" class="footer-link pt-3 ml-4">Link 2</a>
						</div>
					</nav>
					<!-- / Layout footer -->

				</div>
			</div>

		</div>
		<!-- Layout inner -->

		<div class="layout-overlay layout-sidenav-toggle"></div>
	</div>
	<!-- / Layout wrapper -->

	<!-- Core scripts -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/assets/vendor/libs/popper/popper.js"></script>
	<script src="/assets/vendor/js/bootstrap.js"></script>
	<script src="/assets/vendor/js/sidenav.js"></script>

	<!-- Libs -->

	<!-- `perfect-scrollbar` library required by SideNav plugin -->
	<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

	<!-- Main script -->

	<script src="/assets/js/main.js"></script>
	<script>
/* Sparkling charts */
// ops.tx_chart = new Chart(document.getElementById('statistics-chart-tx').getContext("2d"), {
// type: 'line',
// data: {
// datasets: [{
// data: [0],
// borderWidth: 1,
// backgroundColor: 'rgba(0,0,0,0)',
// borderColor: '#26B4FF',
// pointBorderColor: 'rgba(0,0,0,0)',
// pointRadius: 1,
// lineTension: 0
// }],
// labels: ['']
// },

// options: {
// scales: {
// xAxes: [{
// display: false,
// }],
// yAxes: [{
// display: false
// }]
// },
// legend: {
// display: false
// },
// tooltips: {
// enabled: false
// },
// responsive: true,
// maintainAspectRatio: false
// }
// });

// ops.rx_chart = new Chart(document.getElementById('statistics-chart-rx').getContext("2d"), {
// type: 'line',
// data: {
// datasets: [{
// data: [0],
// borderWidth: 1,
// backgroundColor: 'rgba(0,0,0,0)',
// borderColor: '#26B4FF',
// pointBorderColor: 'rgba(0,0,0,0)',
// pointRadius: 1,
// lineTension: 0
// }],
// labels: ['']
// },

// options: {
// scales: {
// xAxes: [{
// display: false,
// }],
// yAxes: [{
// display: false
// }]
// },
// legend: {
// display: false
// },
// tooltips: {
// enabled: false
// },
// responsive: true,
// maintainAspectRatio: false
// }
// });


// ops.p2p_chart = new Chart(document.getElementById('statistics-chart-p2p').getContext("2d"), {
// type: 'line',
// data: {
// datasets: [{
// data: [0],
// borderWidth: 1,
// backgroundColor: 'rgba(0,0,0,0)',
// borderColor: '#26B4FF',
// pointBorderColor: 'rgba(0,0,0,0)',
// pointRadius: 1,
// lineTension: 0
// }],
// labels: ['']
// },

// options: {
// scales: {
// xAxes: [{
// display: false,
// }],
// yAxes: [{
// display: false
// }]
// },
// legend: {
// display: false
// },
// tooltips: {
// enabled: false
// },
// responsive: true,
// maintainAspectRatio: false
// }
// });


// ops.pipe_chart = new Chart(document.getElementById('statistics-chart-pipe').getContext("2d"), {
// type: 'line',
// data: {
// datasets: [{
// data: [0],
// borderWidth: 1,
// backgroundColor: 'rgba(0,0,0,0)',
// borderColor: '#26B4FF',
// pointBorderColor: 'rgba(0,0,0,0)',
// pointRadius: 1,
// lineTension: 0
// }],
// labels: ['']
// },

// options: {
// scales: {
// xAxes: [{
// display: false,
// }],
// yAxes: [{
// display: false
// }]
// },
// legend: {
// display: false
// },
// tooltips: {
// enabled: false
// },
// responsive: true,
// maintainAspectRatio: false
// }
// });

// ops.echo_chart = new Chart(document.getElementById('statistics-chart-echo').getContext("2d"), {
// type: 'line',
// data: {
// datasets: [{
// data: [0],
// borderWidth: 1,
// backgroundColor: 'rgba(0,0,0,0)',
// borderColor: '#26B4FF',
// pointBorderColor: 'rgba(0,0,0,0)',
// pointRadius: 1,
// lineTension: 0
// }],
// labels: ['']
// },

// options: {
// scales: {
// xAxes: [{
// display: false,
// }],
// yAxes: [{
// display: false
// }]
// },
// legend: {
// display: false
// },
// tooltips: {
// enabled: false
// },
// responsive: true,
// maintainAspectRatio: false
// }
// });







// /* Chart functions */
// setInterval(function () {

// if (ops.tx_chart.data.datasets[0].data.length > 30) {

// ops.tx_chart.data.datasets[0].data.shift();
// }

// if (ops.rx_chart.data.datasets[0].data.length > 30) {

// ops.rx_chart.data.datasets[0].data.shift();
// }
// if (ops.pipe_chart.data.datasets[0].data.length > 30) {

// ops.pipe_chart.data.datasets[0].data.shift();
// }
// if (ops.p2p_chart.data.datasets[0].data.length > 30) {

// ops.p2p_chart.data.datasets[0].data.shift();
// }
// if (ops.echo_chart.data.datasets[0].data.length > 30) {

// ops.echo_chart.data.datasets[0].data.shift();
// }

// ops.tx_chart.data.datasets[0].data.push(ops.tx_stream_c || 0 )
// ops.tx_chart.data.labels.push('')
// ops.tx_chart.update()

// ops.rx_chart.data.datasets[0].data.push(ops.rx_stream_c || 0)
// ops.rx_chart.data.labels.push('')
// ops.rx_chart.update()

// ops.p2p_chart.data.datasets[0].data.push(ops.p2p_stream_c || 0)
// ops.p2p_chart.data.labels.push('')
// ops.p2p_chart.update()

// ops.pipe_chart.data.datasets[0].data.push(ops.pipe_stream_c || 0)
// ops.pipe_chart.data.labels.push('')
// ops.pipe_chart.update()

// ops.echo_chart.data.datasets[0].data.push(ops.echo_stream_c || 0)
// ops.echo_chart.data.labels.push('')
// ops.echo_chart.update()

// }, 2000)


/* ---/-- Sparkling charts */


/*  Am charts */



// ops.chart = AmCharts.makeChart("traffic", {


// "type": "serial",
// "marginTop": 10,
// "hideCredits": true,
// "theme": "light",
// "legend": {
// "equalWidths": true,
// "useGraphSettings": true,
// "valueAlign": "left",
// "valueWidth": 100
// },
// "dataProvider": [{
// "time": Date.now(),
// "inmsg": 0,
// "outmsg": 0,
// echomsg: 0,
// p2pmsg: 0,
// offmsg: 0,
// pipemsg: 0,
// errmsg: 0,
// "nodeCount": 0,
// "color": "#9c27b0"
// }],
// "valueAxes": [{
// "id": "g1",
// "axisAlpha": 0,
// "dashLength": 3,
// "gridAlpha": 0.1,
// "position": "right",
// "title": "Data/sec"
// }, ],
// "graphs": [

// {

// "bullet": "round",
// "bulletSize": 7,
// "fillAlphas": 0.2,
// // "lineColor": "green",
// "balloonText": `[[value]] Echo `,
// "legendValueText": "[[value]] /sec",
// "lineThickness": 1.5,
// // "negativeLineColor": "green",
// "type": "smoothedLine",
// "title": "Echo-Data ",
// // "type": "column",
// "valueField": "echomsg",
// "valueAxis": "g1"

// },
// {

// "bullet": "round",
// "bulletSize": 7,
// "fillAlphas": 0.2,
// // "lineColor": "green",
// "balloonText": `[[value]] Piped `,
// "legendValueText": "[[value]] /sec",
// "lineThickness": 1.5,
// // "negativeLineColor": "green",
// "type": "smoothedLine",
// "title": "Pipe-Data ",
// // "type": "column",
// "valueField": "pipemsg",
// "valueAxis": "g1"

// },
// {

// "bullet": "round",
// "bulletSize": 7,
// "fillAlphas": 0.2,
// // "lineColor": "green",
// "balloonText": `[[value]] P2P `,
// "legendValueText": "[[value]] /sec",
// "lineThickness": 1.5,
// // "negativeLineColor": "green",
// "type": "smoothedLine",
// "title": "P2P-Data ",
// // "type": "column",
// "valueField": "p2pmsg",
// "valueAxis": "g1"

// },
// {

// "bullet": "round",
// "bulletSize": 7,
// "fillAlphas": 0.2,
// // "lineColor": "green",
// "balloonText": `[[value]] Offline `,
// "legendValueText": "[[value]] /sec",
// "lineThickness": 1.5,
// // "negativeLineColor": "green",
// "type": "smoothedLine",
// "title": "Offline-Data ",
// // "type": "column",
// "valueField": "offmsg",
// "valueAxis": "g1"

// },

// ],
// "chartCursor": {
// "cursorAlpha": 0,
// "valueLineEnabled": false,
// "valueLineBalloonEnabled": true,
// "valueLineAlpha": false,
// "color": '#fff',
// "cursorColor": '#FC6180',
// "fullWidth": true
// },
// //"depth3D": 20,
// // "angle": 30,
// "categoryField": "time",
// "categoryAxis": {
// "parseDates": true,
// "minPeriod": "ss",
// "gridAlpha": 0,
// "axisAlpha": 0,
// "fillAlpha": 0,
// // "fillColor": "#FAFAFA",
// "minorGridAlpha": 0,
// "autoGridCount": true,
// // "minorGridEnabled": true
// },
// "export": {
// "enabled": true
// }
// });
	</script>

</body>

</html>