{% import "mixins/flash-messages.html" as FM %}
<!DOCTYPE html>

<html lang="en" class="default-style  layout-navbar-fixed ">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<title>{{ title|default("WC Haptic | Smart Dustbins ") }}</title>

	<!-- Main font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900"
		rel="stylesheet">

	<!-- Icons. Uncomment required icon fonts -->
	<link rel="stylesheet" href="/assets/vendor/fonts/fontawesome.css">
	<link rel="stylesheet" href="/assets/vendor/fonts/ionicons.css">
	<link rel="stylesheet" href="/assets/vendor/fonts/linearicons.css">
	<link rel="stylesheet" href="/assets/vendor/fonts/open-iconic.css">
	<link rel="stylesheet" href="/assets/vendor/fonts/pe-icon-7-stroke.css">

	<!-- Core stylesheets -->
	<link rel="stylesheet" href="/assets/vendor/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/vendor/css/appwork.css">
	<link rel="stylesheet" href="/assets/vendor/css/theme-corporate.css">
	<link rel="stylesheet" href="/assets/vendor/css/colors.css">
	<link rel="stylesheet" href="/assets/vendor/css/uikit.css">
	<link rel="stylesheet" href="/assets/css/demo.css">
	<!-- Layout helpers -->
	<script src="/assets/vendor/js/layout-helpers.js"></script>

	<!-- PACE.js loader -->
	<script src="/assets/vendor/js/pace.js"></script>

	<!-- Libs -->

	<!-- `perfect-scrollbar` library required by SideNav plugin -->
	<link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">

	<!-- customs -->
	<link rel="stylesheet" href="/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
	<link href="/bower_components/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">


	<!--  Am charts -->
	<script src="/assets/vendor/libs/amchart/amcharts.js"></script>
	<script src="/assets/vendor/libs/amchart/serial.js"></script>
	<script src="/assets/vendor/libs/amchart/pie.js"></script>
	<script src="/assets/vendor/libs/amchart/plugins/animate/animate.min.js"></script>
	<script src="/assets/vendor/libs/amchart/themes/light.js"></script>
	<script src="/assets/vendor/libs/amchart/themes/black.js"></script>
	<script src="/assets/vendor/libs/amchart/themes/dark.js"></script>
	<script src="/assets/vendor/libs/amchart/themes/chalk.js"></script>


	<!-- JSON editor -->
	<script src="/bower_components/jsoneditor/dist/jsoneditor.min.js"></script>

	<!-- PACE.js loader -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/assets/vendor/js/pace.js"></script>

	<!-- Libs -->

	<!-- `perfect-scrollbar` library required by SideNav plugin -->
	<link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
	<!-- <link rel="stylesheet" href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"> -->
	<link rel="stylesheet" href="/assets/vendor/libs/datatables/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="assets/vendor/libs/toastr/toastr.css">

	{% block css %}
	{% endblock %}
	{% block custom %}
	{% endblock %}
	<!-- <link rel="stylesheet" href="assets/vendor/css/pages/tickets.css"> -->

</head>

<body class="p-3" style="
min-width: 768px;
">

	<!-- PACE.js loader -->
	<div class="page-loader">
		<div class="bg-primary"></div>
	</div>

	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-1">
		<!-- Layout inner -->
		<div class="layout-inner">
			<!-- Layout navbar -->
			<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-navbar-theme container-p-x"
				id="layout-navbar">
				<a href="/" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
						<span class="app-brand-logo demo bg-white
						" style="
						height: 33px;
						width: 35px;
					">
								<img src="/images/logo.png" style="
								height: 49px;
								margin-top: 11px" alt="">
						</span>
						<span class="app-brand-text demo font-weight-normal ml-2">WC-HAPTIC</span>
					  </a>

				<!-- Sidenav toggle -->
				<!-- <div class="layout-sidenav-toggle navbar-nav align-items-lg-center mr-auto mr-lg-4">
					<a class="nav-item nav-link px-0 ml-2" href="javascript:void(0)">
						<i class="ion ion-md-menu text-large align-middle"></i>
					</a>
				</div> -->

				<!-- Navbar toggle -->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#layout-navbar-collapse">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse collapse" id="layout-navbar-collapse">
					<hr class="d-lg-none w-100 my-2">

					<!-- <div class="navbar-nav align-items-lg-center">
                                <label class="nav-item navbar-text navbar-search-box p-0 active">
                                    <i class="ion ion-ios-arrow-forward navbar-icon align-middle"></i>
                                    <span class="navbar-search-input pl-2">
                                        <input type="text" class="form-control navbar-text mx-2" placeholder="Command..." style="width:200px">
                                    </span>
                                </label>
                            </div> -->
					<div class="navbar-nav align-items-lg-center ml-auto">

						<div class="demo-navbar-user nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
								<span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
									<span id="randomKey" data-key="{{user._id}}"
										class="px-1 mr-lg-2 ml-2 ml-lg-0">{{user.name.first}}</span>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="dropdown-divider"></div>
								<a href="/keystone/signout" class="dropdown-item">
									<i class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
							</div>
						</div>

					</div>

			</nav>
			<!-- / Layout navbar -->


			<div class="layout-container">
				<!-- Layout sidenav -->
				<!-- <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-white">
					<div class="app-brand demo">
						<a href="/" class="navbar-brand  d-lg-none py-0 mr-4"> <span
								class="app-brand-text demo font-weight-normal ml-2"><img
									src="/pingzee-logos/Logo transparant black.png" style="height:32px;width:auto;"
									alt="Pingzee"></a>
						&nbsp;

					</div>

					<div class="sidenav-divider mt-0"></div>
					<ul class="sidenav-inner py-1">
						{% for link in navLinks %}
						<li class="sidenav-item  {{ 'active ' if link.key == section else '' }}">
							<a href="{{ link.href }} "
								class="sidenav-link {{ 'text-primary ' if link.key == section else '' }} "><i
									class="sidenav-icon ion {{link.icon}}"></i>
								<div>{{ link.label }}</div>
							</a>
						</li>
						{% endfor %}
					</ul>
				</div> -->
				<!-- / Layout sidenav -->



				<div class="layout-content">

					<!-- Page content -->

					<div class="clients-wrapper">
						<div class="container-fluid flex-grow-1 container-p-y">
							
							{# NOTE:
                            There is no .container wrapping class around body blocks to allow more flexibility in
                            design.
                            Remember to include it in your templates when you override the intro and content blocks! #}

							{# The Intro block appears above flash messages (used for temporary information display) #}
							{% block intro %}{% endblock %}

							{# Flash messages allow you to display once-off status messages to users, e.g. form
                            validation errors, success messages, etc. #}
							{{ FM.flashMessages(messages) }}

							{# The content block should contain the body of your template"s content #}
							{% block content %}{% endblock %}

						</div>
					</div>
					<!-- / Page content -->

					<!-- Layout footer -->
					<!-- <nav class="layout-footer footer bg-footer-theme">
						<div class="container-fluid container-p-x pb-3">
						</div>
					</nav> -->
					<!-- / Layout footer -->

				</div>
			</div>

		</div>
		<!-- Layout inner -->

		<!-- <div class="layout-overlay layout-sidenav-toggle"></div> -->
	</div>
	<!-- / Layout wrapper -->

	<!-- Core scripts -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/assets/vendor/libs/popper/popper.js"></script>
	<script src="/assets/vendor/js/bootstrap.js"></script>
	<script src="/assets/vendor/js/sidenav.js"></script>
	
	<!-- Libs -->
	
	<!-- `perfect-scrollbar` library required by SideNav plugin -->
	<script src="/js/underscore-min.js"></script>
	<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="/assets/vendor/libs/moment/moment.js"></script>
	<script src="/assets/vendor/libs/chartjs/chartjs.js"></script>
	<script src="/assets/vendor/libs/clipboard/clipboard.js"></script>
	<script src="/assets/vendor/libs/datatables/datatables.js"></script>
	<!--  Date pickers -->
	<script src="/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>

	<script src="/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
	<script src="/assets/vendor/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
	<script src="/assets/vendor/libs/timepicker/timepicker.js"></script>
	<script src="/assets/vendor/libs/minicolors/minicolors.js"></script>
	<script src="/assets/vendor/libs/toastr/toastr.js"></script>

	<!-- Main script -->


	<script src="/assets/js/main.js"></script>
	{% block ops %}
	{% endblock %}
	{% block ticket %}
	{% endblock %}

</body>

</html>