{% extends "layouts/default.html" %}
{% block css %}
<link rel="stylesheet" href="/assets/vendor/css/pages/clients.css">
{% endblock %}
{% block content %}
<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
	<div>Devices</div>
	<button type="button" class="btn btn-primary btn-round d-block">
		<span class="ion ion-md-add"></span>&nbsp; Add Device</button>
</h4>


<!-- Filters -->
<!-- <div class="ui-bordered px-4 pt-4 mb-4">
		<div class="form-row">
			<div class="col-md mb-4">
				<label class="form-label">Priority</label>
				<select class="custom-select">
					<option>Any</option>
					<option>High</option>
					<option>Medium</option>
					<option>Low</option>
				</select>
			</div>
			<div class="col-md mb-4">
				<label class="form-label">Status</label>
				<select class="custom-select">
					<option>Any</option>
					<option>Open</option>
					<option>Reopened</option>
					<option>In progress</option>
					<option>Closed</option>
				</select>
			</div>
			<div class="col-md mb-4">
				<label class="form-label">Created date</label>
				<input type="text" id="tickets-list-created" class="form-control">
			</div>
			<div class="col-md col-xl-2 mb-4">
				<label class="form-label d-none d-md-block">&nbsp;</label>
				<button type="button" class="btn btn-secondary btn-block">Show</button>
			</div>
		</div>
	</div> -->
<!-- / Filters -->
<div class="row">
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="lnr lnr-earth display-4 text-info"></div>
					<div class="ml-3">
						<div class="text-muted small">Total Devices</div>
						<div class="text-large">{{count.total}}</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="ion ion-ios-checkmark-circle-outline display-4 text-success"></div>
					<div class="ml-3">
						<div class="text-muted small">Online Devices</div>
						<div class="text-large">{{count.online}}</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="ion ion-md-information-circle-outline display-4 text-warning"></div>
					<div class="ml-3">
						<div class="text-muted small">Offline Devices</div>
						<div class="text-large">{{count.offline}}</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="ion ion-ios-close-circle-outline display-4 text-danger"></div>
					<div class="ml-3">
						<div class="text-muted small">Faulty Devices</div>
						<div class="text-large">{{count.faulty}}</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- <div class="clients-wrapper clients-sidebox-close"> -->
<div class="card ">
	<div class="card-body clients-content clients-scroll container-p-x container-p-y ">

		<div class="table-responsive">
			<table style="width:100%" id="device-list" class="table table-striped ">
				<thead>
					<tr>
						<th>Device</th>
						<th>Key</th>
						<th>Created at</th>
						<th>Last update</th>
						<th>Type</th>
						<th>Status</th>
						<th>Action</th>
						<!-- <th>Actions</th> -->
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>

	</div>



</div>
<!-- Clients sidebox -->
<div class="clients-sidebox">
	<a href="javascript:void(0)" class="clients-sidebox-close p-2 text-muted text-xlarge font-weight-light">&times;</a>

	<div class="clients-scroll container-p-y">

		<!-- Device info -->
		<div class="text-center p-4">
			<!-- <img src="/assets/img/avatars/9.png" class="ui-w-100 rounded-circle mb-4" alt=""> -->
			<h5 class="mb-1">
				<a href="javascript:void(0)" class="text-dark">Device</a>
			</h5>
			<div class="text-muted small mb-2">@awarner</div>
			<div class="small mb-4">
				Company Inc.
				<br> +0 (123) 456 7891
			</div>
			<div>
				<a href="javascript:void(0)" class="text-secondary">
					<span class="ion ion-md-mail"></span>
				</a> &nbsp;&nbsp;
				<a href="javascript:void(0)" class="text-secondary">
					<span class="ion ion-ios-chatbubbles"></span>
				</a> &nbsp;&nbsp;
				<span class="text-lighter">|</span> &nbsp;&nbsp;
				<a href="javascript:void(0)" class="text-twitter">
					<span class="ion ion-logo-twitter"></span>
				</a> &nbsp;&nbsp;
				<a href="javascript:void(0)" class="text-facebook">
					<span class="ion ion-logo-facebook"></span>
				</a> &nbsp;&nbsp;
				<a href="javascript:void(0)" class="text-instagram">
					<span class="ion ion-logo-instagram"></span>
				</a>
			</div>
		</div>
		<!-- / Device info -->

		<hr class="border-light m-0">

		<!-- Messages -->
		<div class="p-4">
			<h6 class="mb-3">Messages</h6>

			<div class="ui-bordered py-2 px-3 mb-3">
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
				<div class="text-muted small mt-1">1 day ago &nbsp; | &nbsp;
					<a href="javascript:void(0)" class="text-muted">Reply</a>
				</div>
			</div>

			<div class="ui-bordered py-2 px-3 mb-3">
				Vivendum torquatos ut nec, sit audiam deterruisset ei, cu sed nibh autem scriptorem. Ea quo vidit deleniti
				constituto, ex qui malis mollis iudicabit, viris fabellas id has.
				<div class="text-muted small mt-1">2 day ago &nbsp; | &nbsp;
					<a href="javascript:void(0)" class="text-muted">Reply</a>
				</div>
			</div>

			<div class="ui-bordered py-2 px-3 mb-3">
				Eam facilis laboramus reprehendunt ei, ex esse fastidii per.
				<div class="text-muted small mt-1">3 day ago &nbsp; | &nbsp;
					<a href="javascript:void(0)" class="text-muted">Reply</a>
				</div>
			</div>

			<div class="ui-bordered py-2 px-3">
				Ea inani epicurei mea. No docendi antiopam quo, ad dicant viderer cotidieque vix. Ea mea dicat ludus, utroque
				explicari conclusionemque ius eu, in scaevola tractatos persecuti per.
				<div class="text-muted small mt-1">3 day ago &nbsp; | &nbsp;
					<a href="javascript:void(0)" class="text-muted">Reply</a>
				</div>
			</div>
		</div>
		<!-- / Messages -->

	</div>
</div>
<!-- / Clients sidebox -->

{% endblock %}
{% block ticket %}
<script src="/views/devices.js"></script>
{% endblock %}
