{% extends "layouts/default.html" %}
{% block content %}
<!-- Content -->
<div class="container-fluid flex-grow-1 container-p-y">

	<h4 class="py-3 mb-4">
		<ol class="breadcrumb font-weight-bold m-0">
			<li class="breadcrumb-item">
				<a href="/">Bins</a>
			</li>
			<li class="breadcrumb-item active">{{data.device.title}}</small>
			</li>
		</ol>
	</h4>

	<!-- Header -->
	<div class="border-right-0 border-left-0 ui-bordered container-m--x mb-4">
		<div class="row no-gutters row-bordered row-border-light">
			<!-- <div class="col-md-9">
				<div class="media-body container-p-x py-4">
					<div class="d-flex justify-content-between align-items-center mb-1">
						<div>
							<strong class="text-primary text-large">67%</strong> completed</div>
						<div class="text-muted small">15 opened tasks, 29 tasks completed</div>
					</div>
					<div class="progress" style="height: 4px;">
						<div class="progress-bar" style="width: 67%;"></div>
					</div>
				</div>
			</div> -->
			{% set class = ( "text-success" if data.device.status == 'online' else "text-warning" ) %}
			{% set status = ( "Online" if data.device.status == 'online' else "Offline" ) %}
			<div class="col-md-3">
				<div class="container-p-x py-4">
					<div class="text-muted small">Status</div>
					<strong class="{{class}} text-big">{{status}}</strong>
				</div>
			</div>
			<div class="col-md-3">
				<div class="container-p-x py-4">
					<div class="text-muted small">Organic Waste </div>
					<strong class="text-black text-big "><span id="oLevel">{{data.device.oLevel}} &nbsp;%</span></strong>
				</div>
			</div>
			<div class="col-md-3">
				<div class="container-p-x py-4">
					<div class="text-muted small">Inorganic Waste </div>
					<strong class="text-black text-big"><span id="inoLevel">{{data.device.inoLevel}} &nbsp;%</span></strong>
				</div>
			</div>
			<div class="col-md-3">
				<div class="container-p-x py-4">
					<div class="text-muted small">Air Quality  </div>
					<strong class="text-black text-big"><span id="aqLevel">0 &nbsp;ppm</span></strong>
				</div>
			</div>
		</div>
	</div>
	<!-- / Header -->

	<div class="row">
		<div class="col-md-9">

			<!-- Traffic-->
			<div class="card mb-4">
				<div class="card-header font-weight-bolder">Avg. Waste Collection &nbsp;:&nbsp;
					<button id="daterange-4" class="btn btn-default dropdown-toggle md-btn-flat"></button>
				</div>
				<div class="card-body">
					<div class="card-content">
						<div id="device-chart" style="height:300px"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xl-3">

				<!-- Project details -->
				<div class="card mb-4">
					<h6 class="card-header">Device details</h6>
					<ul class="list-group list-group-flush">
	
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<div class="text-muted">Device Name</div>
							<div>
								<a id="devTitle" data-title="{{data.device.title}}" href="javascript:void(0)">{{data.device.title}}</a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<div class="text-muted">Device Key</div>
							<div>
								<a id="devKey" data-key="{{data.device.binKey}}" href="javascript:void(0)">{{data.device.binKey}}</a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<div class="text-muted">Device Id</div>
							<div>
								<a id="devID" data-id="{{data.device._id}}" href="javascript:void(0)">{{data.device._id}}</a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<div class="text-muted">Created by</div>
							<div>
								<a href="javascript:void(0)">{{data.device.user.name.first}}</a>
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<div class="text-muted">Created at</div>
							<div>{{ moment(data.device.createdAt).format('hh:mm:ss a Do MMM YY')}}</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<div class="text-muted">Last update</div>
							<div>{{ moment(data.device.updatedAt).format('hh:mm:ss a Do MMM YY')}}</div>
						</li>
					</ul>
				</div>
				<!-- / Project details -->
	
			</div>
	</div>
	<div class="row">
		<div class="col-md-9">
				<div class="card mb-4">
						<div class="card-header font-weight-bolder">Alerts &nbsp;:&nbsp;
							<button id="daterange-5" class="btn btn-default dropdown-toggle md-btn-flat"></button>
						</div>
						<div class="card-body">
							<div class="card-content">
								<div id="device-chart1" style="height:300px"></div>
							</div>
						</div>
					</div>
		</div>
	</div>
			<!-- / Traffic-->

			<!--  Pie Chart -->
			<!-- / Participants -->
			<!--  -->
			<!-- Tabs -->
			<div class="row">
				<div class="col-md-9">
			<div class="nav-tabs-left  nav-responsive-lg">
				<ul class="nav nav-lg nav-tabs">
					<li class="nav-item">
						<a class="nav-link active " data-toggle="tab" href="#project-activity">Logs</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#project-discussion">Discussion</a>
					</li> -->
				</ul>
				<div class="tab-content">


					<!-- Packets -->

					<!-- /Packets -->

					<!-- Sandbox -->

					<!-- /Packets -->
					<!-- Activity -->

					<div class="tab-pane fade show active" id="project-activity">
						<div class="card-body">
							<form style="padding:50px" class="form">
								<span class="bmd-form-group">
									<div class="input-group no-border">
										<input id="searchbox" type="text" value="" class="form-control" placeholder="Search...">&nbsp;
										<button class="btn btn-white btn-m btn-round btn-just-icon">
											<i class="ion ion-ios-search align-middle"></i>
										</button>
									</div>
								</span>
							</form>
							<div class="table-responsive">
								<div id="test"></div>
								<table class="table" style="width:justyfied" id="historyNode">
									<thead class=" text-primary">
										<th>
											Date
										</th>
										<th>
											Update Type
										</th>
										<th>
											Update
										</th>
									</thead>
									<tbody>
										{% for log in data.device.history.sort() %}
										<tr>
											<td style="width: 33%;">
												{{ moment( log.date).format('MMM Do YYYY hh:mm:ss a ') }}
											</td>
											<td style="text-transform: capitalize ; width: 33%;">
												{{log.changes[0].path[0] }}
											</td>
											<td style="width: 33%;text-transform: capitalize;">
												{%if log.changes[0].after == "online" %}

												<span class="text-success"> {{ log.changes[0].after }}</span>


												{%else%}
												<span class="text-warning">

													{{ log.changes[0].after }}
												</span>
												{% endif %}

											</td>

										</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>

						</div>
					</div>


				</div>
			</div>
			<!-- / Tabs -->

		</div>

	</div>

</div>
<!-- / Content -->
{% endblock %}
{% block ticket %}
<script src="/views/device.js"></script>
{% endblock %}
