{% extends "layouts/default.html" %}

{% block custom %}
<link rel="stylesheet" href="/assets/vendor/css/pages/chat.css">
{% endblock %}
{% block intro %}
<!-- <div class="container">
	{% set title = ( data.category.name if data.category else "Operation Center" ) %}
	<h3>{{ title }}</h3>
</div> -->
{% endblock %}
{% block content %}
<!-- Traffic-->
<!-- / Traffic-->
<h4 class="font-weight-bold py-3 mb-1">
		Smart Dustbin Managment System
	<!-- <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">S </small> -->
	</div>
</h4>

<div class="row">
	<div class="col">

		<div class="card mb-4">
			<div class="card-header font-weight-bolder">Avg. Waste Collection &nbsp;:&nbsp;
				<button id="daterange-4" class="btn btn-default dropdown-toggle md-btn-flat"></button>
			</div>
			<div class="row no-gutters row-bordered">
				<div class="col-lg-8">
					<div class="card-body">

						<div style="height: 255px;" id="statistics-chart-17"></div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="card-body d-flex w-100 h-100 mb-4">
						<div class="row no-gutters row-bordered row-border-light h-100">
							<div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

								<a data-status="total" href="javascript:void(0)"
									class="tabSelect card-body media align-items-center text-dark">
									<i class="lnr lnr-earth  display-4 d-block text-primary"></i>
									<span class="media-body d-block ml-3">
										<span class="text-big"><span id="totalDev"
												class="font-weight-bolder">{{count.total}}</span> Total </span><br>
										<small class="text-muted">Bins</small>
									</span>
								</a>

							</div>
							<div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

								<a data-status="online" href="javascript:void(0)"
									class="tabSelect card-body media align-items-center text-dark">
									<i class="ion ion-ios-checkmark-circle-outline  display-4 d-block text-success"></i>
									<span class="media-body d-block ml-3">
										<span class="text-big"><span id="onlineDev"
												class="font-weight-bolder">{{count.online}}</span> Online </span><br>
										<small class="text-muted">Bins</small>
									</span>
								</a>

							</div>
							<div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

								<a data-status="offline" href="javascript:void(0)"
									class="tabSelect card-body media align-items-center text-dark">
									<i class="ion ion-md-information-circle-outline display-4 d-block text-warning"></i>
									<span class="media-body d-block ml-3">
										<span class="text-big"><span id="offlineDev"
												class="font-weight-bolder">{{count.offline}}</span> Offline
										</span><br>
										<small class="text-muted">Bins</small>
									</span>
								</a>

							</div>
							<div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">

								<a data-status="faulty" href="javascript:void(0)"
									class="tabSelect card-body media align-items-center text-dark">
									<i class="ion ion-ios-close-circle-outline display-4 d-block text-danger"></i>
									<span class="media-body d-block ml-3">
										<span class="text-big"><span id="faultyDev"
												class="font-weight-bolder">{{count.faulty}}</span> Faulty </span><br>
										<small class="text-muted">Bins</small>
									</span>
								</a>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>




</div>
<div class="row">
	<div class="col-md-5">
		<div class="nav-tabs-left  nav-responsive-lg">
			<ul class="nav nav-tabs ">
				<li class="nav-item">
					<!-- <button type="button" class="btn icon-btn btn-xl btn-outline-primary">
			</button> -->
					<a class="nav-link active d-lg  text-large px-4 m-2" data-toggle="tab"
						href="#navs-left-responsive-link-1">
						<i class="ion ion-md-pulse"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link d-lg text-large px-4 m-2  " data-toggle="tab"
						href="#navs-left-responsive-link-4">
						<i class="ion ion-md-add"></i>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="navs-left-responsive-link-1">
					<div class="container-fluid d-flex align-items-stretch flex-grow-1 p-0">

						<!-- `.chat-wrapper` fills all available space of container -->
						<div class="chat-wrapper container-p-x container-p-y">

							<!-- Make card full height of `.chat-wrapper` -->
							<div class="card flex-grow-1 position-relative overflow-hidden">

								<!-- Make row full height of `.card` -->
								<div class="row no-gutters h-100">
									<div class="d-flex col flex-column">

										<!-- Chat header -->
										<div class="flex-grow-0 py-3 pr-4 pl-lg-4">

											<div class="media align-items-center">
												<div class="position-relative">
													<button type="button"
														class="btn btn-primary btn-round icon-btn mr-1">
														<i class="ion ion-md-pulse"></i>
												</div>
												<div class="media-body pl-3">
													<strong>Notification Center</strong>
													<div class="text-muted small">
														<em><span class="sockStatus">Offline</span></em>
													</div>
												</div>
											</div>

										</div>
										<hr class="flex-grow-0 border-light m-0">
										<!-- / Chat header -->

										<!-- Wrap `.chat-scroll` to properly position scroll area. Remove this wtapper if you don't need scroll -->
										<div class="flex-grow-1  position-relative">

											<!-- Remove `.chat-scroll` and add `.flex-grow-1` if you don't need scroll -->
											<div id="ops-inner" class="chat-messages chat-scroll p-4">

												<div class="chat-message-left mb-4">
													<div>
														<button type="button"
															class="btn btn-default btn-round icon-btn ml-1">
															<i class="ion ion-md-happy"></i>
														</button>
														<!-- <div class="text-muted small text-nowrap mt-2">2:34 am</div> -->
													</div>
													<div class="flex-shrink-1 bg-lighter rounded py-2 px-3 ml-3">
														<msg>
															<div class="font-weight-semibold mb-1">Z-Bot</div>
															<p>Welcome to <strong>Notification Center</strong></p>
															<ul class="ui-list">
																<li>Manages the devices</li>
																<li>Controls the services</li>
																<li>Analyzes the problems </li>
															</ul>

														</msg>
														<hr class="border m-3">

													</div>
													<div>

													</div>
												</div>

											</div><!-- / .chat-messages -->
										</div>

										<!-- Chat footer -->
										<hr class="border-light m-0">
										<div class="flex-grow-0 py-3 px-4">
											<form id="ops-chat">

												<!-- <div class="input-group">

													<input id="commands" type="text" class="form-control"
														placeholder="Commnds">
													<div class="input-group-append">
														<button id="enterCmd" type="submit"
															class="btn btn-primary">Send</button>
													</div>
												</div> -->

											</form>
										</div>
										<!-- / Chat footer -->

									</div>
								</div><!-- / .row -->

							</div><!-- / .card -->

						</div><!-- / .chat-wrapper -->

					</div>


				</div>


				<div class="tab-pane fade" id="navs-left-responsive-link-4">
					<div class="row container-p-x container-p-y ">
						<div class="col-md-12">

							<div class="card ">
								<div class="card-header"> <strong>Add Dustbins</strong> </div>
								<div class="row  row-bordered">
									<div class=" col">
										<div class="card-body">
											<div class="card-content">
												<form id="addCon">
													<div class="form-group row">
														<label class="col-form-label col-sm-2 text-sm-right">Dustbin
															Type</label>
														<div class="col-sm-10">
															<select class="custom-select">
																<option value="device">Type 1</option>
																<option value="pipe">Type 2</option>
															</select>

														</div>
													</div>
													<div class="form-group row">
														<label
															class="col-form-label col-sm-2 text-sm-right">Name</label>
														<div class="col-sm-10">
															<input type="text" class="form-control"
																placeholder="Device Unique Name">
														</div>
													</div>
													<div class="form-group row">
														<label
															class="col-form-label col-sm-2 text-sm-right">Legacy</label>
														<div class="col-sm-10">
															<select class="custom-select">
																<option value="no">No</option>
																<option value="yes">Yes</option>
															</select>

														</div>
													</div>


													<div class="form-group row">
														<div class="col-sm-10 ml-sm-auto">
															<button disabled type="submit" class="btn btn-primary">Add
																Bin</button>
														</div>
													</div>
												</form>
												<!-- <div id="sandboxEdit" style="height:500px;width:100%"></div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	<div class="col-md-7">
		<div class="card ">
			<div class="card-header"><strong>Dustbin List</strong></div>
			<div class="row  row-bordered">
				<div class=" col">
					<div class="card-body">
						<div class="card-content">
							<div class="table-responsive">
								<table style="width:100%;height:auto; " id="device-list"
									class="connections table h-100 w-100 table-striped ">
									<thead>
										<tr>
											<th>Unique Name</th>
											<th>Key</th>
											<th>Last update</th>
											<!-- <th style="text-align: center">Actions</th> -->
											<th>Organic Waste</th>
											<th>Inorganic Waste</th>
											<th>Status</th>
											<th>Profile</th>
											<!-- <th>Actions</th> -->
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>




{% endblock %}

{% block ops %}
<script>

</script>
<script>

</script>
<script src="/views/ops.js"></script>
{% endblock %}