{% extends "layouts/default.html" %}
{% block content %}
<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
	<div>Pipes</div>
	<button type="button" class="btn btn-primary btn-round d-block">
		<span class="ion ion-md-add"></span>&nbsp; Add Pipe</button>
</h4>

<!-- Filters -->
<!-- <div class="ui-bordered px-4 pt-4 mb-4">
	<div class="form-row">
		<div class="col-md mb-4">
			<label class="form-label">Priority</label>
			<select class="custom-select">
				<option>Any</option>
				<option>High</option>
				<option>Medium</option>
				<option>Low</option>
			</select>
		</div>
		<div class="col-md mb-4">
			<label class="form-label">Status</label>
			<select class="custom-select">
				<option>Any</option>
				<option>Open</option>
				<option>Reopened</option>
				<option>In progress</option>
				<option>Closed</option>
			</select>
		</div>
		<div class="col-md mb-4">
			<label class="form-label">Created date</label>
			<input type="text" id="tickets-list-created" class="form-control">
		</div>
		<div class="col-md col-xl-2 mb-4">
			<label class="form-label d-none d-md-block">&nbsp;</label>
			<button type="button" class="btn btn-secondary btn-block">Show</button>
		</div>
	</div>
</div> -->
<!-- / Filters -->
<div class="row">
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="lnr lnr-earth display-4 text-info"></div>
					<div class="ml-3">
						<div class="text-muted small">Total Pipes</div>
						<div class="text-large">{{count.total}}</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="ion ion-ios-swap display-4 text-success"></div>
					<div class="ml-3">
						<div class="text-muted small">Total Links</div>
						<div class="text-large">{{count.link}}</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="ion  ion-ios-checkmark-circle-outline  display-4 text-success"></div>
					<div class="ml-3">
						<div class="text-muted small">Online Devices</div>
						<div class="text-large">{{count.online_device}}</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="ion ion-ios-close-circle-outline display-4 text-danger"></div>
					<div class="ml-3">
						<div class="text-muted small">Offline Devices</div>
						<div class="text-large">{{count.offline_device}}</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="card">
	<div class="card-body">

		<div class="table-responsive">
			<table style="width:100%" id="pipe-list" class="table table-striped ">
				<thead>
					<tr>
						<th>Pipe</th>
						<th>Key</th>
						<th>Created at</th>
						<th>Last Activity</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>

	</div>
</div>
{% endblock %}
{% block ticket %}
<script src="/views/pipes.js"></script>
{% endblock %}
