{% extends "layouts/default.html" %}
{% block content %}
<!-- Head stats -->

<!-- / Head stats -->

<!-- Traffic chart + sources -->
<div class="card mb-4">
	<h5 class="card-header with-elements border-0 pt-3 pb-0">
		<span class="card-header-title">
			<i class="ion ion-md-stats text-primary"></i>&nbsp; Traffic</span>

		<!-- <div class="card-header-elements ml-auto">
			<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-default md-btn-flat">
					<input type="radio" name="btn-radio"> Month
				</label>
				<label class="btn btn-default md-btn-flat">
					<input type="radio" name="btn-radio"> 6 Months
				</label>
				<label class="btn btn-default md-btn-flat active">
					<input type="radio" name="btn-radio" checked> Year
				</label>
				<label class="btn btn-default md-btn-flat">
					<input type="radio" name="btn-radio"> 3 Years
				</label>
			</div>
		</div> -->
	</h5>
	<hr class="border-light mb-0">
	<div class="row no-gutters row-bordered row-border-light">
		<div class="d-flex col-md-12 col-lg-12 col-xl-12 align-items-center p-4">
			<div id="traffic" class="w-100" style="height: 600px;"></div>
		</div>

		<!-- Sources -->
		<!-- <div class="col-md-4 col-lg-12 col-xl-4 px-4 pt-4">
			<div class="pb-4">
				Twitter
				<div class="float-right small mt-1">
					11,963 &nbsp;&nbsp;
					<span class="text-muted">29.77%</span>
				</div>
				<div class="progress mt-1" style="height:3px;">
					<div class="progress-bar bg-twitter" style="width: 29.77%;"></div>
				</div>
			</div>
			<div class="pb-4">
				Google+
				<div class="float-right small mt-1">
					11,963 &nbsp;&nbsp;
					<span class="text-muted">28.39%</span>
				</div>
				<div class="progress mt-1" style="height:3px;">
					<div class="progress-bar bg-google" style="width: 28.39%;"></div>
				</div>
			</div>
			<div class="pb-4">
				Facebook
				<div class="float-right small mt-1">
					9,965 &nbsp;&nbsp;
					<span class="text-muted">23.65%</span>
				</div>
				<div class="progress mt-1" style="height:3px;">
					<div class="progress-bar bg-facebook" style="width: 23.65%;"></div>
				</div>
			</div>
			<div class="pb-4">
				Pinterest
				<div class="float-right small mt-1">
					4,223 &nbsp;&nbsp;
					<span class="text-muted">10.02%</span>
				</div>
				<div class="progress mt-1" style="height:3px;">
					<div class="progress-bar bg-pinterest" style="width: 10.02%;"></div>
				</div>
			</div>
			<div class="pb-4">
				Instagram
				<div class="float-right small mt-1">
					3,437 &nbsp;&nbsp;
					<span class="text-muted">8.15%</span>
				</div>
				<div class="progress mt-1" style="height:3px;">
					<div class="progress-bar bg-instagram" style="width: 8.15%;"></div>
				</div>
			</div>
		</div> -->
		<!-- / Sources -->

	</div>
</div>
<!-- / Traffic chart + sources -->

<div class="row">

	<!-- Charts -->
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body d-flex justify-content-between align-items-center" style="height: 98px">
				<div>
					<div class="text-large"><span id="tx_stream">0</span></div>
					<div class="text-muted text-tiny">Tx/Sec</div>
				</div>
				<div class="w-50" style="height: 35px;">
					<canvas id="statistics-chart-tx"></canvas>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body d-flex justify-content-between align-items-center" style="height: 98px">
				<div>
					<div class="text-large"><span id="rx_stream">0</span></div>
					<div class="text-muted text-tiny">Rx/Sec</div>
				</div>
				<div class="w-50" style="height: 35px;">
					<canvas id="statistics-chart-rx"></canvas>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body d-flex justify-content-between align-items-center" style="height: 98px">
				<div>
					<div class="text-muted small">P2P/Sec</div>
					<strong class="text-large font-weight-normal"><span id="p2p_stream">0</span></strong>
					<!-- <sup class="text-success small">+ 12%</sup> -->
				</div>
				<div class="w-50">
					<div style="height: 35px;">
						<canvas id="statistics-chart-p2p"></canvas>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-6 col-xl-3">

		<div class="card mb-4">
			<div class="card-body d-flex justify-content-between align-items-center" style="height: 98px">
				<div>
					<div class="text-muted small">Pipe/Sec</div>
					<strong class="text-large font-weight-normal"><span id="pipe_stream">0</span></strong>
					<!-- <sup class="text-success small">+ 2%</sup> -->
				</div>
				<div class="w-50">
					<div style="height: 35px;">
						<canvas id="statistics-chart-pipe"></canvas>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!--  Sparkline chart ends  -->
</div>

{% endblock %}
{% block ops %}
<script src="/views/stats.js"></script>
{% endblock %}
